<style type="text/css">
  .calendarFrame{
    margin-left: 20%;
  }
  .callBody{
    padding-top: 80px;
  }
</style>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Mopar or No Car</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                     <li><a href="#/posts">Post Wall</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class="calHead"></div>
<div class="callBody">
<div class="calendarFrame">
<iframe src="https://www.google.com/calendar/embed?height=700&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=93pdr7ftv8gc0unsgv04j6k6e8%40group.calendar.google.com&amp;color=%230D7813&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="700" frameborder="0" scrolling="no"></iframe>
</div>
</div>